.paragraph{
    font-size: medium;
    margin-top: 1.5rem;
    font-family: "Poppins", sans-serif;
}
.privacy_heading{
    font-size: larger;
}
.section_part{
    margin-top: 3rem;
}
.policy_container{
    padding: 6rem;
}
.ul_li{
    text-align: left;
    color: white;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
}
@media (max-width: 768px){
    .container{
        padding: 1rem;
    }
  }

  .policy_bg_image img.background-image{
       /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  }